h3 
{
	color:black;
	font-size:12pt; 
	font-weight:bold;
	font-family:Arial, Verdana, sans-serif;
}

h4 
{
	color:darkblue;
	font-size:10pt;
	font-family:Arial, Verdana, sans-serif;	
}

h5 
{
	color:darkblue;
	font-size:10pt;
	font-family:Arial, Verdana, sans-serif;
}